################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/12793448-a18d-4e00-9775-0b34b733f8e6.vsidx
/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/3ef9401c-88f7-479a-a6b7-2f7b9b91b174.vsidx
/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/2f08e3f6-3799-455d-8e1b-4c92eee5f144.vsidx
/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/50e25cb7-1126-4bc8-9129-e438d07c6a0b.vsidx
/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/935206e1-2c89-40c4-943a-e1e08f1e8dae.vsidx
/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/b3dfef93-1d5b-4a7e-91f9-492c9823d371.vsidx
/CSharpBook/Chapter2/.vs/CSharp_Chapter2/FileContentIndex/cc3206fb-d927-48c3-b818-0e715bcac47a.vsidx
